
/* Background images */

#redbg, #bluebg, #yellowbg, #greenbg, #orangebg, #purplebg{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5000;
	display: none;
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
}

/* Pers Info */
.redPers, .yellowPers, .orangePers, .greenPers, .purplePers, .bluePers{
    position: absolute;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    display: none;
	font-family: 'Roboto Slab', serif;
	font-size: 25px;
}

.fact1 {
	height: 150px;
	width: 230px;
	margin-left: -40%;
}

.fact2 {
	height: 150px;
	width: 230px;
}

.fact3 {
	height: 150px;
	width: 230px;
	margin-left: 40%;
}



/* Circles */
#red {
    position: absolute;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #ff2354;
    margin-top: 2%;
    margin-left: 23%;
    cursor: pointer ;
}

#blue {
    position: absolute;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #1f65ff;
    margin-top: 2%;
    margin-left: 33%;
    cursor: pointer ;
}

#yellow {
    position: absolute;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #ffdd1d;
    margin-top: 2%;
    margin-left: 43%;
    cursor: pointer ;
}

#green {
    position: absolute;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #21ff86;
    margin-top: 2%;
    margin-left: 53%;
    cursor: pointer ;
}

#orange {
    position: absolute;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #ff5e1f;
    margin-top: 2%;
    margin-left: 63%;
    cursor: pointer ;
}

#purple {
    position: absolute;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #761fff;
    margin-top: 2%;
    margin-left: 73%;
    cursor: pointer ;
}

#colorcontain {
    padding: 0;
    margin: auto;
}

#colorcontain p { 
    display: flex;
    justify-content: center;
	font-family: 'Roboto Slab', serif;
	margin-top: 20%;
    margin-bottom: 1%;
	font-size: 35px;
}