#bg {
  background: white;
}

#redPers, #bluePers {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
	display: none;
}

#red {
	position: absolute;
	border-radius: 50%;
	width: 100px;
    height: 100px;
    background: red;
	margin-top: 10%;
	margin-left: 10%;
	cursor: pointer ;
}

#blue {
	position: absolute;
	border-radius: 50%;
	width: 100px;
    height: 100px;
    background: blue;
	margin-top: 10%;
	margin-left: 20%;
	cursor: pointer ;
}

#yellow {
	position: absolute;
	border-radius: 50%;
	width: 100px;
    height: 100px;
    background: yellow;
	margin-top: 10%;
	margin-left: 30%;
	cursor: pointer ;
}

#green {
	position: absolute;
	border-radius: 50%;
	width: 100px;
    height: 100px;
    background: green;
	margin-top: 10%;
	margin-left: 40%;
	cursor: pointer ;
}

#orange {
	position: absolute;
	border-radius: 50%;
	width: 100px;
    height: 100px;
    background: orange;
	margin-top: 10%;
	margin-left: 50%;
	cursor: pointer ;
}

#purple {
	position: absolute;
	border-radius: 50%;
	width: 100px;
    height: 100px;
    background: purple;
	margin-top: 10%;
	margin-left: 60%;
		cursor: pointer ;

}
#colorcontain {
	 padding: 0;
    margin: auto;
    display: block;
}